
!.env.example
# Editor
# Env
# Local Netlify folder
# Node
# Supabase
.DS_Store
.env
.env*.local
.env.*
.env.local
.idea
.netlify
.next/
.npm
.vercel
.vscode
/supabase/.branches
/supabase/.temp
/supabase/functions/**/.env
dist/
node_modules/
