# Supabase
/supabase/.branches
/supabase/.temp
/supabase/functions/**/.env

# Node
node_modules/
.npm
.DS_Store

# Env
.env
.env.*
!.env.example

# Editor
.vscode
.idea
.vercel
.env*.local

# Local Netlify folder
.netlify
