@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-sans antialiased overflow-x-hidden min-h-screen selection:bg-emerald-500/30 selection:text-emerald-200;
  }
}
